<%= link_to "Back", projects_path %><br><br>
<h1><%= @project.title %></h1>

Goal: <%= @project.goal %><br>
Description: <%= @project.description %><br>
Deadline: <%= @project.end_date %> <br/>

Total donations: <%= @project.donations.sum(&:donations) %>

<h4>Make a Donation</h4>

<%= form_for [@project, @donation] do |f| %>
<%= f.label :amount %>
<%= f.number_field :amount %>
<%= f.submit %>
<% end %>

