

<%= link_to "Back", projects_path %><br><br>
<h1><%= @project.title %></h1>

Goal: <%= @project.formatted_goal %><br>
Description: <%= @project.description %><br>

Tags: <%= raw @project.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %><br>

Time remaining: <%= distance_of_time_in_words(@project.created_at, @project.end_date) %><br>

Total donations: <div class="donation-total"><% sum = Donation.price_in_cents(@project)%>
<%= display = Donation.formatted_amount(sum) %></div>

<h4>Make a Donation</h4>

<div class= "donation-form"> 
	<%= form_for([@project, @donation], remote: true) do |f| %>
		<%= f.label :amount %>
		<%= f.number_field :amount %>
		<%= f.submit %>
	<% end %>
</div>

